footer {
    min-height: 100vh;
    background: linear-gradient(90deg, var(--black-blue) 0% 30%,#03a9f5 30% 100%);
}

.footer-contact {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.footer-contact .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.footer-title h2 {
    color: #fff;
    font-weight: 600;
}

.footer-box .form {
    grid-area: form;
}

.footer-box .info {
    grid-area: info;
}

.footer-box .map {
    grid-area: map;
}

.footer-box .contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .3);
}

.footer-box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.footer-box .contact h3 {
    color: var(--black-blue);
    opacity: .7;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.form-box {
    position: relative;
    width: 100%;
}

.form-box .row-50 {
    display: flex;
    gap: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.form-box .row-100 .input-box {
    width: 100%;
}

.input-box span {
    color: #03a9f5;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.input-box input,
.input-box textarea {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid lightgray;
}

.input-box textarea {
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.input-box input[type="submit"] {
    background: #03a9f5;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 550;
    border: none;
    max-width: 120px;
    cursor: pointer;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
    color: lightgray;
}

.footer-box .info {
    background: var(--black-blue);
    color: #fff;
}

.footer-box .info .info-box div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.footer-box .info .info-box div span {
    min-width: 40px;
    height: 40px;
    background: #03a9f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.social-media {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-media li a {
    font-size: 2rem;
}

.social-media li a:hover {
    opacity: .8;
}

.contact.map {
    padding: 0;
}

.contact.map iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 1020px) {
    footer {
        background: #03a9f5;
    }

    .footer-contact {
        padding: 20px;
    }

    .footer-box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form" "info" "map";
    }

    .contact.map {
        min-height: 300px;
    }
}

@media (max-width: 620px) {
    .form-box .row-50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .input-box {
        width: 100%;
    }
}

@media (max-width: 340px) {
    .footer-box .contact {
        padding: 10px;
    }

    .contact.map {
        padding: 0;
    }
}